<!-- your html code here -->
<div class="contacto container mx-auto container-fluid">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <div class="border rounded px-5 py-2">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="your email" aria-label="ypur email"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Your message</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <input class="btn btn-primary " type="submit" value="Submit">
        </div>
    </div>
</div>