<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="d-flex font-weight-bold">
                <h1 class="text-dark mr-2">This First Heading</h1>
                <h1 class="text-secondary">Will Catch Your Eye</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut sint officia earum amet nesciunt odit
                recusandae tempora saepe magnam culpa veniam quibusdam eos consequatur minima! Sed velit nostrum dolore?
            </p>
        </div>
        <div class="col-sm-4">
            <img class="rounded-circle w-100" src="/website1/assets/img/1.jpg">
        </div>
    </div>
</div>