<div class="container">
    <h1 class="pt-3">Porfolio</h1>
    <h5 class="pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, illo quibusdam accusantium, sed quis, quo
        omnis fuga ab quia minus aliquid qui iste cumque commodi nulla similique asperiores fugit recusandae?</h5>
    <div class="row d-flex justify-content-between pb-4">
        <div class="col-sm">
            <img class="img-fluid" src="/website1/assets/img/big-project-image.png" alt="">
            <h2 class="pt-3 pb-2 text-primary">Project Name</h2>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste consequuntur earum molestias
                aspernatur, quam eos assumenda!</h6>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="/website1/assets/img/big-project-image.png" alt="">
            <h2 class="pt-3 pb-2 text-primary">Project Name</h2>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste consequuntur earum molestias
                aspernatur, quam eos assumenda!</h6>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="/website1/assets/img/big-project-image.png" alt="">
            <h2 class="pt-3 pb-2 text-primary">Project Name</h2>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste consequuntur earum molestias
                aspernatur, quam eos assumenda!</h6>
        </div>
    </div>
</div>