<!-- your html code here -->
<div class="container">
    <div class="row m-0">
        <div class="col-4">
            <img class="rounded-circle" src="/website1/assets/img/2.jpg">
        </div>
        <div class="col-8 m-0">
            <div class="d-flex">
                <h1 class="text-dark mr-2">The Second Heading </h1>
                <h1 class="text-secondary"> Is Pretty Cool Too</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu</p>
            </div>
        </div>
    </div>
</div>